header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: transparent;
}

header.full {
  background-color: var(--navbar-bg);
}

app-navbar.full {
  display: none;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--light);
  padding: min(25px, 7%);
  height: var(--header-height);
}

h2 {
  color: var(--text);
}

#hamburger {
  display: none;
  cursor: pointer;
  width: 50px;
  fill: var(--icon-color);
}

#hamburger.full {
  display: block;
}

@media (width > 760px) {
  header {
    padding-inline: 2rem;
    padding-block: 1rem;
    width: fit-content;
  }

  header.full {
    height: 100%;
    background-color: var(--navbar-desktop-bg);
  }

  .header-container {
    padding: 0;
    grid-column: 1;
    align-items: flex-start;
    flex-direction: column;
  }

  #hamburger {
    display: none !important;
  }
}
