.survey {
  display: flex;
  flex-direction: column;
  background-color: var(--gradient); /* TODO farbe ändern */
  border: 5px solid var(--primary);
  border-radius: 15px;
  height: 150px;
  overflow: hidden;
  cursor: pointer;
}

.image_container {
  height: 55%;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding-inline: min(1rem, 5%);
  margin-block: auto;
}

.dates {
  font-size: 0.75rem;
}

@media(width > 760px) {
  .survey {
    transition: scale 200ms ease-in-out;

    &:hover {
      scale: 1.05;
    }
  }
}
