stages:
  - test
  - build

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: always
    - when: never

variables:
  BACKEND_IMAGE: $CI_REGISTRY_IMAGE/backend
  FRONTEND_IMAGE: $CI_REGISTRY_IMAGE/frontend
  DOCKER_BUILDKIT: "1"
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"

test_backend:
  stage: test
  image: maven:3-eclipse-temurin-21
  cache:
    key: maven-$CI_COMMIT_REF_SLUG
    paths:
      - ".m2/repository"
    policy: pull-push
  script:
    - cd backend
    - mvn -B -q test

docker_build_backend:
  stage: build
  tags:
    - ml-docker
  image: docker:28
  variables:
    BUILDKIT_INLINE_CACHE: "1"
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
    - docker pull ${BACKEND_IMAGE}:latest || true
    - docker build --cache-from ${BACKEND_IMAGE}:latest --build-arg BUILDKIT_INLINE_CACHE=1 -t ${BACKEND_IMAGE}:$CI_COMMIT_SHORT_SHA ./backend
    - docker push ${BACKEND_IMAGE}:$CI_COMMIT_SHORT_SHA
    - docker tag ${BACKEND_IMAGE}:$CI_COMMIT_SHORT_SHA ${BACKEND_IMAGE}:latest
    - docker push ${BACKEND_IMAGE}:latest

docker_build_frontend:
  stage: build
  tags:
    - ml-docker
  image: docker:28
  variables:
    BUILDKIT_INLINE_CACHE: "1"
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
    - docker pull ${FRONTEND_IMAGE}:latest || true
    - docker build --cache-from ${FRONTEND_IMAGE}:latest --build-arg BUILDKIT_INLINE_CACHE=1 -t ${FRONTEND_IMAGE}:$CI_COMMIT_SHORT_SHA ./frontend
    - docker push ${FRONTEND_IMAGE}:$CI_COMMIT_SHORT_SHA
    - docker tag ${FRONTEND_IMAGE}:$CI_COMMIT_SHORT_SHA ${FRONTEND_IMAGE}:latest
    - docker push ${FRONTEND_IMAGE}:latest
