button{
  border: none;
  width: 100%;
  padding-block: .6rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 15px;
}

.red {
  background-color: var(--red);
}

.purple {
  background-color: var(--purple);
}

.white {
  background-color: var(--light);
  color: var(--dark-primary);
}
