button{
  border: none;
  width: 100%;
  padding-block: .6rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.red {
  background-color: var(--red);

  &:hover {
    background-color: var(--red-accent);
  }
}

.purple {
  background-color: var(--purple);

  &:hover {
    background-color: var(--purple--accent);
  }
}

.white {
  background-color: var(--light);
  color: var(--dark-primary);

  &:hover {
    background-color: var(--light-accent);
  }
}
