nav {
  position: fixed;
  height: calc(100% - var(--header-height));
  width: 100%;
  transition: transform 0.3s ease-in-out;
  background-color: var(--navbar-bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 5rem;
  padding-bottom: 2rem;
  padding-inline: 1.5rem;
}

nav ul {
  margin-bottom: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

li {
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

li svg {
  width: 25px;
}

nav.hidden {
  transform: translateX(100%);
}

@media (width > 760px) {
  nav {
    position: unset;
    padding-inline: 0;
    padding-block: 0;
    bottom: 0;
  }

  nav.hidden {
    transition: none;
    transform: translateX(0);
  }

  nav ul {
    margin-inline: 0;
    gap: .25rem;
  }

  li {
    font-size: 1rem;
  }

  li svg {
    width: 20px;
  }
}
