.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.surveys {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
}
