@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --dark-gradient: linear-gradient(to bottom right, var(--dark-light) 0%, #2C394A 30%, var(--dark-primary) 100%);
  --dark-primary: #212B38;
  --dark-light: #37465B;
  --dark-lighter: #4A5D79;
  --dark-purple: #726EFF;
  --dark-purple-accent: #5753bf;
  --dark-red: #FF6E6E;
  --dark-red-accent: #d25d5d;

  --light-gradient: linear-gradient(to bottom right, var(--light-light), var(--light-primary));
  --light-darker: #DCE4EF;
  --light-primary: #C9D4E3;
  --light-light: #E5ECF5;
  --light-lighter: #E0E6F0;
  --primary-text: #1A1A1A;
  --light-purple: #655CFF;
  --light-purple-accent: #4c46c2;
  --light-red: #E65C5C;
  --light-red-accent: #c25050;
  --light: #ffffff;
  --light-accent: #eeeeee;

  --icon-color: var(--primary-text);
  --primary: var(--light-primary);
  --primary-light: var(--light-light);
  --text: var(--primary-text);
  --gradient: var(--light-gradient);
  --navbar-bg: var(--light-darker);
  --navbar-desktop-bg: var(--light-lighter);
  --purple: var(--light-purple);
  --purple--accent: var(--light-purple-accent);
  --red: var(--light-red);
  --red-accent: var(--light-red-accent);
  --box-shadow: 0 0 10px 1px var(--primary);

  --header-height: 5rem;
  --border-radius: 15px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --gradient: var(--dark-gradient);
    --text: var(--light);
    --primary: var(--dark-primary);
    --primary-light: var(--dark-lighter);
    --navbar-bg: var(--primary);
    --icon-color: var(--dark-lighter);
    --navbar-desktop-bg: var(--dark-primary);
    --purple: var(--dark-purple);
    --purple--accent: var(--dark-purple-accent);
    --red: var(--dark-red);
    --red-accent: var(--dark-red-accent);
    --light-accent: #d9d9d9;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--text);
  background: var(--primary);
}

h2 {
  font-weight: bolder;
  font-size: 2rem;
}

.icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  fill: var(--text);
  cursor: pointer;
}

.feather-icon {
  fill: none;
  stroke: var(--text);
  stroke-width: 2.5px;
}

button {
  color: var(--light);
}

input {
  background: var(--primary);
  color: var(--text);
  border: none;
  height: 2.5rem;
  font-size: 1rem;
  padding-inline: .5rem;
  width: 100%;
  border-radius: 10px;
}

app-modal.hidden {
  display: none !important;
}
