:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100dvh;
}

main {
  margin-top: var(--header-height);
  background: var(--gradient);
}

@media (width > 760px) {
  :host {
    grid-template-columns: 200px 1fr;
    grid-template-rows: unset;
  }

  main {
    margin-top: 0;
  }
}
